# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# -------------------------
# Generated project data
# -------------------------
data/audio/
data/temp/
data/transcripts/
data/diarization/
data/results/
data/speaker_maps/
data/reports/